.container-home {
  background-position: center; /* Centra la imagen en el contenedor */
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/home/background-home-desktop.jpg);
}
.main {
  display: flex;
  justify-content: space-around;
  margin: 100px 50px 0px 50px;
}

.section {
  color: beige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}
.title {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin: 0px 0px 20px 0px;
}
.subtitle {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: 15px;
}
.paragraph {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}
.button-container {
  display: flex;
  align-self: flex-end;
}

.button {
  padding: 50px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: none;
  font-size: x-large;
  font-family: "Bellefair", serif;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1; /* Asegura que el botón esté sobre el pseudo-elemento */
}

.button::after {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del botón */
}

.button:hover::after {
  opacity: 0.4;
}
