.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.logo {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
}
.list {
  color: aliceblue;
  display: flex;
  gap: 20px;
  list-style: none; /*para quitar los puntos*/
  padding: 0px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.button-navbar {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 15px;
  letter-spacing: 2px;
  border: none;
  color: white;
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
}

.underline {
  display: block;
  height: 3px; /* Grosor de la línea */
  width: 0;
  background-color: white;
  position: absolute;
  bottom: 0; /* Posición en el borde inferior del contenedor padre */
  left: 0;
  transition: width 0.3s ease; /* Transición suave */
}

.underline.active {
  width: 100%;
}
